main {
    display: grid;
    grid-template-columns: 1fr;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

header {
    background-color: #008080;
    padding: 1rem 2%; /* 1rem = 1 * base font-size (16px) */
}

header h1 {
    margin: 0; /* by default, browsers put margins around headings - this removes those margins */ 
    font-family: 'PT Serif', serif;

}

footer {
    text-align: center;
    padding: 1rem 2%;
    background-color: #008080;
}
