/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
    header img {width: 70%; }
    header p {display: block;}


/*----------- NAVIGATION --------------*/
    


/*----------- MAIN --------------*/
.summary {width: 70%;}

section.forecast {
    display: flex;
    margin-bottom: 1.5rem;
}

section.forecast div img {
    padding: 10px;
    width: 4rem;
}

.article {
    border: none;
    padding: 0;
    margin-bottom: 2rem;
}

.article img {
  width: 70%;
}

#box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact {
    display: inline;
    clear: right;
    grid-column: 1/2;
}

.container {
    grid-template-columns: 1fr 1fr;
}

.container img {
    max-width: 100%;
}



/*----------- FOOTER --------------*/

}
/* end of media query */