body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16px;
    padding: 2em;
    margin: 1em auto;
    max-width: 600px;
}

header, footer {
    background-color: #212b31;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

img {
    float: right;
    position: relative;
    top: -80px;
    width: 150px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px white;
}

h1 {
    position: relative;
    left: -60px;
}

hr {
    width: 70%;

}

main {
    padding: 10px;
}

a:hover {
    background-color: dimgray;
}

a:visited {
    color: #8b0000;
}