/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Jost', 'Open Sans', sans-serif;
}


/*----------- HEADER --------------*/

div#headwrap {
    background-color: #FFD700;
}

header {
    padding: 1rem 2%;
    
    font-family: 'Jost', 'Open Sans', sans-serif;
}

header img {
    float: left;
    margin-right: 10px;
    width: 100px;
}

header h1 {
    margin: 0;
    font-size: 1.6rem;
    margin-top: 1rem;
}

header h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
}

header h3 {
    margin-top: 1rem;
    margin-left: 85px;
    font-weight: normal;
    font-size: 1rem;
}

/*----------- NAVIGATION --------------*/

div#navwrap {
    background-color: #000000;
}

nav button {
    margin: .2rem 2%;
    padding: .5rem;
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    color: #FFD700;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Jost', 'Open Sans', sans-serif;
}

nav ul li a {
    display: block;
    color: #FFFFFF;
    padding: 1rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}


nav ul li a:hover {
    background-color: #004FFF;
    color: #FFFFFF;
}

nav ul li.active a {
    background-color: #586F7C;
    color: #FFFFFF;
}

nav ul.hide {
    display: none;
}

/*----------- MAIN --------------*/
div#banner {
    background-color: #004FFF;
}

div.showme {
    display: block;
}

div.hideme{
    display: none;
}

main {
    padding: 0 2%;
    min-height: 10rem;
}

main h1 {
    font-size: 1.5rem;
    font-family: 'Libre Caslon Text', serif;
}

main h2 {
    font-size: 1.4rem;
}

.herodiv {
    margin: 10px auto;
    position: relative;
}

.herodiv img {
    width: 100%;
}

.summary h2 {
    padding: 0;
}

.summary {
    width: 20rem;
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: rgba(88, 111, 124);
	border: 1px solid #000;
	padding: 1rem;
	box-shadow: 0 0 15px #000000;
	opacity: .95;
}

section.forecast {
    display: none;
}

#five-day {
    display: none;
}

.article {
    padding: 10px;
    border: 1px solid #586F7C;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.article img {
    width: 100%;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map {
    width: 100%;
}

.cards img {
    width: 100%;
}

.cards article {
    background-color: rgba(35, 44, 49, 0.2);
    margin-bottom: 1rem;
    padding: 1rem;
}

img[data-src] {
    filter: blur(0.2em);
  }
  
img {
    filter: blur(0em);
    transition: filter 0.5s;
  }

.container {
    display: grid;
    margin-bottom: 1rem;
    justify-content: center;
  }

figcaption {
    padding: 1rem;
    border: 1px solid #586F7C;
}

.eventcontainer {
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    max-width: 500px;
    padding: .5rem;
    border: 20px solid black;
    background-color: gold;
}

/*----------- FORM --------------*/

form legend {
    color: #004FFF;
    }

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

.bar span {
    padding-top: 1rem;
    display: block;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #004FFF;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    width: 96%;
    max-width: 20rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/*----------- FOOTER --------------*/


footer {
    background-color: #000000;
    padding: 1rem 2%;
    font-size: .9rem;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Jost', 'Open Sans', sans-serif;
}

footer a:hover {
    color: #fff;
}

footer a:visited {
    color: gold;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}  